# Bayt-kompilyatsiya qilingan / optimallashtirilgan / DLL fayllar
__pycache__/
*.py[cod]
*$py.class

# C kengaytmalari
*.so

# Tarqatish / paketlash
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Odatda bu fayllar shablonlardan Python skripti tomonidan yoziladi
#  PyInstaller exe faylini qurishdan oldin sana/boshqa ma'lumotlarni kiritish uchun.
*.manifest
*.spec

# O'rnatuvchi jurnallar
pip-log.txt
pip-delete-this-directory.txt

# Birlik test / qoplamalar hisobotlari
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Tarjimalar
*.mo
*.pot

# Django narsalari:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask narsalari:
instance/
.webassets-cache

# Scrapy narsalari:
.scrapy

# Sphinx hujjatlari
docs/_build/

# PyBuilder
target/

# Jupyter Daftar
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   Pypa/pipenv#598 ga ko'ra, Pipfile.lock versiyasini versiya nazoratiga kiritish tavsiya etiladi.
#   Biroq, hamkorlikda, agar platformaga xos bog'liqliklar yoki bog'liqliklar bo'lsa
#   umumiy qo'llab-quvvatlash yo'q, pipenv noto'g'ri ishlaydigan bog'liqliklarni o'rnatishi mumkin,
#   yoki barcha kerakli bog'liqliklarni o'rnatmasligi mumkin.
#Pipfile.lock

# PEP 582; masalan, github.com/David-OConnor/pyflow va github.com/pdm-project/pdm tomonidan foydalaniladi
__pypackages__/

# Celery narsalari
celerybeat-schedule
celerybeat.pid

# SageMath tahlil qilingan fayllar
*.sage.py

# Muhitlar
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder loyiha sozlamalari
.spyderproject
.spyproject

# Rope loyiha sozlamalari
.ropeproject

# mkdocs hujjatlari
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre tur tekshirgichi
.pyre/

# pytype
.pytype/

# Cython disk raskadrovka belgilari
cython_debug/

# PyCharm
#  JetBrains maxsus shabloni JetBrains.gitignore da saqlanadi, u
#  github.com/github/gitignore da topish mumkin
#  va global gitignore ga qo'shish yoki ushbu faylga birlashtirish mumkin.  Yanada nuklear uchun
#  opsiya (tavsiya etilmaydi) quyidagini izohlash mumkin.
#.idea/

# Video fayllar
*.mp4
*.avi
*.mkv
*.mov
*.wmv
*.flv
*.webm
*.mpg
*.mpeg
*.3gp

# Vaqtinchalik yuklab olish katalogi
downloads/